html, body{
    margin: 0;
    width: 100%;
}


.style{
    background-color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    font-size: 3rem;
    width: auto;
    display: flex;
}

.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    width: max-content;
    display: grid;
    align-items: center;
    justify-content: center;
}

input{
    width: 100%;
}

.input>input{
    padding: 10px;
}